/* Settings styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #114357, #f29492);
}

.all-content {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    font-size: 3rem;
    color: rgb(199, 199, 199);
    background-image: linear-gradient(to right, #f29492, #114357);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    margin-top: 20px;
}

header h1 {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    font-size: 3rem;
    color: rgb(199, 199, 199);
}


.settings-form {
    background-image: linear-gradient(to top right, #f29492, #114357);
    width: 40%;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 40px;
}

.settings-title {
    position: relative;
    top: 5px;
    text-align: center;
    border-bottom: solid 2px rgba(200, 214, 250, 0.8);
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    color: rgba(200, 214, 250, 0.8);
    padding-bottom: 10px;
}

.code-width, .code-height, .start-game {
    width: 50%;
    background-color: rgba(200, 214, 250, 0.6);
    color: rgba(73, 72, 72, 0.4);
    color: rgba(73, 72, 72, 0.9);
    font-size: 1.5rem;
    margin: 20px auto;
    border-radius: 40px;
    text-align: center;
    /* position: relative;
    top: 60px; */
}

.start-game {
    color: rgba(200, 214, 250, 0.8);
    background-color: rgba(73, 72, 72, 0.6);
    background-color: rgba(73, 72, 72, 0.8);
}

/* Game settings */
ul {
    padding: 0;
}

.code-list-item {
    list-style: none;
    text-align: center;
    background-color: rgba(242, 148, 146 , 0.4);
    border-radius: 50px;
    padding: 10px 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: 2% auto;
    transition: all 1s ease;
}

.code-input {
    display: inline-block;
    width: 80px;
    /* background-color: aqua; */
    overflow: hidden;
    font-size: 2rem;
}

.pig, .cow {
    display: inline-block;
    width: 20px;
    color: black;
    overflow: hidden;
    font-size: 2rem;
    text-align: right;
}

.confirm-code-btn {
    font-size: 2rem;
    position: relative;
    top: -5px;
    background-color: rgba(248, 103, 100, 0);
    border: none;
}

.current-code .confirm-code-btn:hover {
    /* color: rgba(242, 148, 146, 0.4); */
    color: rgba(255, 255, 255, 0.4);
}

.code-list-item button {
    display: inline-block;
}

.future-code {
    /* opacity: 0.05; */
}