body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.all-content {
    background-color: antiquewhite;
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

header h1 {
    margin: 0;
}

ul {
    padding: 0;
}

.code-list-item {
    list-style: none;
    text-align: center;
}

.code-input {
    display: inline-block;
    width: 80px;
    background-color: aqua;
    overflow: hidden;
}

.code-list-item button {
    display: inline-block;
}

.future-code {
    opacity: 0.3;
}